/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

table {
    table-layout: fixed;
}

td,th {
    word-wrap:break-word !important;
    overflow: hidden;
}

.btn {
    padding: 6px 15px;
    background: #1692A9;
    color: #fff;
    border: none;
    margin: 10px 0px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .3s;
    -webkit-transition: all .3s;
    
}
html{
    min-height:100%;
    position:relative;
}
body {
    margin-top: 100px;
    background-color: #222;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background: url(../images/background.jpg);
    background-size: cover;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}
a {
    transition: all .2s;
    -webkit-transition: all .2s;
}
#wrapper {
    padding-left: 0;
/*
    background: url(https://cdn.pixabay.com/photo/2015/06/24/02/12/the-blurred-819385_1280.jpg);
    background-size: cover;
*/
}
.page-header {
/*    color: #fff;*/
}
@media (max-width: 767px) {
.page-header {
    margin: 120px 0 20px;
}
}
h1.page-header small {
    display: block;
    padding-top: 5px;
    text-transform: uppercase;
    margin: auto;
    color: #53a0e4;
}
#page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    background-color: #fff;
    padding-top: 20px !important;
}
/*table.table.table-bordered {*/
/*    overflow-x: scroll;*/
/*    display: block;*/
/*    flex-flow: row;*/
/*    table-layout: fixed;*/
/*}*/
@media (max-width: 1200px) {
    table.table.table-bordered {
        overflow-x: scroll;
        display: block;
        flex-flow: row;
        table-layout: fixed;
}
}
@media (min-width: 992px) {
.container {
    width: auto !important;
}
}
@media (min-width: 768px) {
.container {
    width: auto !important;
}
}
.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        height: 100%;
        margin-left: -225px;
        padding-bottom: 100px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222222b0;
        -webkit-box-shadow: 0 5px 10px 1px rgba(0,0,0,0.3);
        box-shadow: 0 5px 10px 1px rgba(0,0,0,0.3);
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
li.active a {
    color: #6cb5f9 !important;
}
/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel {
    background-color: #fff0 !important;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-purple {
    border-color: #bf40bf;
}

.panel-purple .panel-heading {
    border-color: #bf40bf;
    color: #fff;
    background-color: #bf40bf;
}

.panel-purple a {
    color: #bf40bf;
}

.panel-purple a:hover {
    color: #993399;
}

.panel-blue {
    border-color: #5353c6;
}

.panel-blue .panel-heading {
    border-color: #5353c6;
    color: #fff;
    background-color: #5353c6;
}

.panel-blue a {
    color: #5353c6;
}

.panel-blue a:hover {
    color: #2929a3;
}

.panel-orange {
    border-color: #ffb84d;
}

.panel-orange .panel-heading {
    border-color: #ffb84d;
    color: #fff;
    background-color: #ffb84d;
}

.panel-orange a {
    color: #ffb84d;
}

.panel-orange a:hover {
    color: #ff9900;
}

/* Export excel and csv BTN */
#appointments, #statistics {
  margin-bottom: 70px;
}
.xls, .csv, .txt {
  background: #1692A9;
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.xls:hover, .csv:hover, .txt:hover {
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}
.btn-toolbar {
    margin-left: -5px;
/*
    position: absolute;
    bottom: 0;
*/
}
/* Export excel and csv BTN */
/* Footer Copyright */
.footercopyright {
    font-size: 12px;
}
/* Footer Copyright */

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .2s;
    -webkit-transition: all .2s;
}
/* Input */
input[type=button], input[type=reset], input[type=submit] {
    padding: 6px 15px;
    background: #1692A9;
    color: #fff;
    border: none;
    margin: 10px 0px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}
.input-group-btn:last-child>.btn {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}
button.btn.btn-primary.btn-lg.btn-block {
    border-radius: 50px !important;
}
/* Input */
/* Login */
.loginwrap {
    width: 100%;
    height: 100vh;
    background: #333;
}
/* Login */
/* Lightbox */
.wiggle {
  display:block;
  margin:0 auto;
}

.wiggle:hover {
  -webkit-animation:none;
}

.short-animate {
  -webkit-transition:.5s ease-in-out;
  -moz-transition:.5s ease-in-out;
  -ms-transition:.5s ease-in-out;
  -o-transition:.5s ease-in-out;
  transition:.5s ease-in-out;
}

.long-animate {
  -webkit-transition: .5s .5s ease-in-out;
  -moz-transition: .5s .5s ease-in-out;
  -ms-transition: .5s .5s ease-in-out;
  -o-transition:.5s .5s ease-in-out;
  transition:.5s .5s ease-in-out;
}

.lightbox {
  position:fixed;
  top:-100%;
  bottom:100%;
  left:0;
  right:0;
  background: #00000057;
  z-index: 9999;1;
  opacity:0;
}

.lightbox img {
  position:absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  max-width:0%;
  max-height:0%;
}

#lightbox-controls {
  position:fixed;
  height:70px;
  width:70px;
  top:-70px;
  right:0;
  z-index:9999;
  background:rgba(0,0,0,.1);
}

#close-lightbox {
  display:block;
  position:absolute;
  overflow:hidden;
  height:50px;
  width:50px;
  text-indent:-5000px;
  right:10px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

#close-lightbox:before {
  content:'';
  display:block;
  position:absolute;
  height:0px;
  width:3px;
  left:24px;
  top:0;
  background:white;
  border-radius:2px;
  -webkit-transition: .5s .5s ease-in-out;
  -moz-transition: .5s .5s ease-in-out;
  -ms-transition: .5s .5s ease-in-out;
  -o-transition:.5s .5s ease-in-out;
  transition:.5s .5s ease-in-out;
}

#close-lightbox:after {
  content:'';
  display:block;
  position:absolute;
  width:0px;
  height:3px;
  top:24px;
  left:0;
  background:white;
  border-radius:2px;
  -webkit-transition: .5s 1s ease-in-out;
  -moz-transition: .5s 1s ease-in-out;
  -ms-transition: .5s 1s ease-in-out;
  -o-transition:.5s 1s ease-in-out;
  transition:.5s 1s ease-in-out;
}

.lightbox:target {
  top:0%;
  bottom:0%;
  opacity:1;
}

.lightbox:target img {
  max-width:100%;
  max-height:100%;
}

.lightbox:target ~ #lightbox-controls {
  top:0px;
}

.lightbox:target ~ #lightbox-controls #close-lightbox:after {
  width:50px;
}

.lightbox:target ~ #lightbox-controls #close-lightbox:before {
  height:50px;
}

@-webkit-keyframes wiggle {
	0% {
	  -webkit-transform:rotate(2deg);
  }
  20% {-webkit-transform:rotate(-2deg);}
  40% {-webkit-transform:rotate(2deg);}
  60% {-webkit-transform:rotate(-2deg);}
  80% {-webkit-transform:rotate(2deg);}
	100% {-webkit-transform:rotate(-2deg);}
}
/* Lightbox */
/* User Avatar */
.useravatar {
    width: 150px;
    height: 150px;
    margin-left: 34px;
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding: 35px;
    padding-top: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
    overflow: hidden;
    background: #617b99; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #617b99 0%, #5197c6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #617b99 0%,#5197c6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #617b99 0%,#5197c6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#617b99', endColorstr='#5197c6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* User Avatar */
/* User Color */
.usercolor {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: solid #c4c4c4 1.5px;
    display: inline-block;
    vertical-align: sub;
}
title {
    background: rgba(0,0,0,0.8);
    padding: 10px;
    color: #fff;
}
/* User Color */
/*----------------------------MAPS*/



 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
          margin: 50px 0 20px;
          margin-left:225px;
          
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }



      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
         font-size: 16px;
        font-weight: 300;
        margin-left: 220px;
        padding: 20px 10px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }


/*------------------------------------------------------------FEEDBACK*/

.cnt223 a{
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
top:40px;
}
.cnt223{
text-align: center;
width: 80%;
min-height: 550px;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 15px 35px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt223 p{
clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 20px;
    font-family: sans-serif;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}
.useravatarmobi {
    display: none;
}
/* Mobile Renders 767px */
@media (max-width: 767px) {
    
    #chart_div,#approved_div {
        max-width: 400px;
        overflow: scroll;
    }
.navbar-header {
    width: auto;
    display: inline-block !important;
    float: right;
}
.useravatarmobi {
    display: inline-block;
    float: left;
}
.useravatar {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 10px;
    padding-top: 2px;
    margin-top: 10px;
}
.useravatardrop {
    width: 60px;
    height: 60px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}
#map {
    margin-left: 0px;
}
#pac-input {
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-left: 0px;
    padding: 20px 10px;
    text-overflow: ellipsis;
    margin-top: 120px;
    width: 80%;
    left: 5px !important;
}
button.gm-control-active.gm-fullscreen-control {
    margin-top: 120px !important;
}
.gmnoprint {
    margin-top: 65px !important;
}
.top-nav>li {
    float: right;
}
}
/* Mobile Renders 767px */

hr {
  margin-top:5px !important;
  margin-bottom:5px !important;
}


/*--------------------------------------------------------SEARCH*/

#myInput {
    width:100%;
    margin-bottom:10px;
    padding:5px;
    border: 2px solid #578cb4;
}

/*-----------------------------------------------------------------------*/


.comment {
      background-color:rgba(85,143,186,0.5);
    padding:20px;
    width:65%;
    text-align: center;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin:20px auto;
}



/*----------------------------------------------------------------CALENDAR*/

.app_calendar {
    padding:10px;
    margin-bottom:2px;
}
